<h2 class="ui dividing header">Comments</h2>
<div class="ui comments">
	<div class="comment">
		<a class="avatar">
			<img src="/static/img/demo/avatar.jpg">
		</a>
		<div class="content">
			<a class="author">Dog Doggington</a>
			<div class="metadata">
				<div class="date">2 days ago</div>
			</div>
			<div class="text">
				I think this is a great idea and i am voting on it
			</div>
			<div class="actions">
				<a class="reply">Reply</a>
				<a class="delete">Delete</a>
			</div>
		</div>
	</div>
	<div class="comment">
		<a class="avatar">
			<img src="/static/img/demo/avatar2.jpg">
		</a>
		<div class="content">
			<a class="author">Pawfin Dog</a>
			<div class="metadata">
				<div class="date">1 day ago</div>
			</div>
			<div class="text">
				I think this is a great idea and i am voting on it
			</div>
			<div class="actions">
				<a class="reply">Reply</a>
			</div>
		</div>
	</div>
	<form class="ui reply form">
		<div class="field">
			<textarea></textarea>
		</div>
		<div class="ui button teal submit labeled icon">
			<i class="icon edit"></i> Add Comment
		</div>
	</form>
</div>
