
<? 
local data = {
	{
		category= 'Industrial',
		items = {
			{
				path='symtech/modbus',
				version='1.0.1',
				author='Symtech',
				desc='Modbus protocol base',
				name='Modbus'
			},
			{
				path='symtech/s5500',
				version='1.0.1',
				author='Symtech',
				desc='Modbus protocol base',
				name='S5500'
			},
			{
				path='symtech/modbus',
				version='1.0.1',
				author='Symtech',
				desc='Modbus protocol base',
				name='Modbus'
			},
			{
				path='symtech/modbus',
				version='1.0.1',
				author='Symtech',
				desc='Modbus protocol base',
				name='Modbus'
			},
			{
				path='symtech/modbus',
				version='1.0.1',
				author='Symtech',
				desc='Modbus protocol base',
				name='Modbus'
			},
		}
	},
	{
		category= 'Home Automation',
		items = {
			{
				path='symtech/bacnet',
				version='1.0.1',
				author='Symtech',
				desc='BACnet protocol base',
				name='BACnet'
			},
			{
				path='symtech/modbus',
				version='1.0.1',
				author='Symtech',
				desc='Modbus protocol base',
				name='Modbus'
			},
			{
				path='symtech/modbus',
				version='1.0.1',
				author='Symtech',
				desc='Modbus protocol base',
				name='Modbus'
			},
			{
				path='symtech/modbus',
				version='1.0.1',
				author='Symtech',
				desc='Modbus protocol base',
				name='Modbus'
			},
		}
	}
}
?>

<script src="/static/js/app.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/app.css">
<?
for _, v in pairs(data) do 
	local category = v.category
	local items = v.items
?>
<h2 class="ui dividing header"><? = category or 'Unkown Category' ?></h2>
<div class="ui stackable items">
	<? for k, v in pairs(items) do 
		local img = '/static/releases/'..v.path:lower()..'/icon.jpg'
		local meta = 'v'..v.version
		local name = v.name
		local desc = v.desc
		local votes = v.votes or 0
	?>
	<div class="app item" id="<?=v.name?>">
		<div class="image">
			<img src="<?=img ?>">
			<a class="like ui corner label">
				<i class="star icon"></i>
			</a>
		</div>
		<div class="content">
			<div class="meta"><?=meta?></div>
			<div class="name"><?=name?></div>
			<div class="extra right">
				<?=votes?> votes
			</div>
		</div>
	</div>
	<? end ?>
</div>
<? end ?>
