
<h2 class="ui dividing header">Cards</h2>
<div class="ui stackable items">
	<div class="item">
		<img class="circular ui image" src="/static/img/demo/avatar.jpg">
	</div>
	<div class="item">
		<img class="circular ui image" src="/static/img/demo/avatar.jpg">
	</div>
</div>

<div class="ui stackable items">
	<div class="item">
		<div class="image">
			<img src="/static/img/demo/highres5.jpg">
			<a class="like ui corner label">
				<i class="like icon"></i>
			</a>
		</div>
		<div class="content">
			<div class="name">Cute Dog</div>
			<p class="description">This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
			<div class="extra">
				199 votes
			</div>
		</div>
	</div>
	<div class="item">
		<div class="image">
			<img src="/static/img/demo/highres6.jpg">
			<a class="like ui corner label">
				<i class="like icon"></i>
			</a>
		</div>
		<div class="content">
			<div class="meta">5 days ago</div>
			<div class="name">Faithful Dog</div>
			<p class="description">Sometimes its more important to have a dog you know you can trust. But not every dog is trustworthy, you can tell by looking at its smile.</p>
			<div class="extra">
				311 votes
			</div>
		</div>
	</div>
</div>
