<div class="ui large vertical inverted labeled icon sidebar menu" id="menu">
	<a class="hide item">
		<i class="close icon"></i> Close Menu
	</a>
	<a class="item" href="/">
		<i class="inverted circular red awesome download cloud icon"></i> <b>Download</b>
	</a>
	<div class="item">
		<a href="/">
			<b>Home</b>
		</a>
		<div class="menu">
			<a class="item" href="/about/">About</a>
		</div>
	</div>
	<div class="item">
		<b>Store</b>
		<div class="menu">
			<a class="item" href="/help/contributing/">How To Contributing</a>
			<a class="item" href="/help/development/">Development Docs</a>
		</div>
	</div>
	<div class="item">
		<a href="/apps/"><b>Applications</b></a>
		<div class="menu">
			<a class="item" href="/apps/indu">Industrial</a>
			<a class="item" href="/apps/home">Home Automation</a>
			<a class="item" href="/apps/plc">PLC</a>
			<a class="item" href="/apps/other">Others</a>
		</div>
	</div>
	<div class="item">
		<a href="/forum"><b>Forum</b></a>
		<div class="menu">
			<a class="item" href="/forum/beginner">Beginner</a>
			<a class="item" href="/forum/platform">Platform</a>
			<a class="item" href="/forum/installation">Installtion</a>
			<a class="item" href="/forum/suggestion">Suggestion</a>
		</div>
	</div>
	<!--     <div class="item">
	  <b>Specification</b>
	  <div class="menu">

	  </div>
	</div> -->
</div>
