	<div class="ui two column middle aligned relaxed grid basic segment">
		<div class="center aligned four wide column">
			<form class="ui form" method="post" action="/device/ctrl_api">
				<input type="hidden" name="action" value="list"/>
				<input type="hidden" name="key" value="<?=key?>"/>
				<input class="ui submit button" type="submit" value="<?=_('Refresh List')?>"/>
			</form>
		</div>

		<div class="center aligned twelve wide column">
			<form class="ui form" method="post" action="/device/ctrl_api">
				<input type="hidden" name="action" value="install"/>
				<input type="hidden" name="key" value="<?=key?>"/>
				<div class="ui inline field">
					<div class="ui label"> Application: </div>
					<div class="ui selection labeled dropdown">
						<input id="app_path" name="app_path" type="hidden"/>
						<div class="default text"></div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<? for k, v in pairs(app_list) do  ?>
								<div class="item" data-value="<?=k?>"><?=k?></div>
							<? end ?>
						</div>
					</div>
					<div class="ui input">
						<input placeholder="Instance Name" type="text" name="insname">
					</div>
					<input class="ui submit button" type="submit" value="<?=_('Install')?>"/>
				</div>
			</form>
		</div>
	</div>

	<table id="applist" class="ui sortable table segment">
		<thead>
			<tr>
				<th><?=_("Name")?></th>
				<th><?=_("AppPath")?></th>
				<th><?=_("Description")?></th>
				<th><?=_("Author")?></th>
				<th><?=_("version")?></th>
				<th><?=_("Actions")?></th>
			</tr>
		</thead>
		<tbody>
		<?
		local counts = 0
		for i, v in ipairs(apps.list) do
			counts = counts + 1
		?>
			<tr>
				<td>
					<? if v.run then ?>
					<? if v.run ~= 'UNKNOWN' then ?>
					<i class="teal circle icon"></i>
					<? else ?>
					<i class="question icon"></i>
					<? end ?>
					<? else ?>
					<i class="red attention icon"></i>
					<? end ?>
					<b><?=v.insname?></b>
				</td>
				<td>
					<a href="/app/detail/<? =(v.app.path) ?>" target="_blank">
						<b><i> <?=v.app.path?> </i></b>
					</a>
				</td>
				<td>
					<i> <?=v.app.desc?> </i>
				</td>
				<td>
					<i> <?=v.app.author?> </i>
				</td>
				<td>
					<i> <?=v.app.version?> </i>
				</td>
				<td>
					<div class="ui tiny icon buttons">
						<div class="ui button" onclick="start_app('<?=v.insname?>');">
							<i class="ui teal play icon"></i>
						</div>
						<div class="ui button" onclick="stop_app('<?=v.insname?>');">
							<i class="ui orange stop icon"></i>
						</div>
						<div class="ui button" onclick="remove_app('<?=v.insname?>');">
							<i class="ui red trash icon"></i>
						</div>
						<? if app_list[v.app.path] and app_list[v.app.path].version ~= v.app.version then?>
						<div class="ui button" onclick="upgrade_app('<?=v.insname?>', '<?=app_list[v.app.path].version?>');">
							<i class="ui pruple circle up icon"></i>
						</div>
						<? end ?>
					</div>
				</td>
			</tr>
		<? end ?>

		</tbody>
		<tfoot>
			<tr>
				<th><?=_("Total")?> <?=counts?></th>
				<th>
					Last Updated:
				</th>
				<th>
					<?=apps.ts?>
				</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</tfoot>
	</table>
	<script>
		function start_app(insname) {
			$.post("/device/ctrl_api", {action:'app_start', key:'<?=key?>', insname:insname}, function(data) {
					$('#remote_status').html('<i>' + data + '</i>');
					})
			.done(function() {
					})
			.fail(function() {
					$('#remote_status').html('<i>Failed to send start application request </i>');
					});
		};

		function stop_app(insname) {
			$.post("/device/ctrl_api", {action:'app_stop', key:'<?=key?>', insname:insname}, function(data) {
					$('#remote_status').html('<i>' + data + '</i>');
					})
			.done(function() {
					})
			.fail(function() {
					$('#remote_status').html('<i>Failed to send stop application request </i>');
					});
		};

		function remove_app(insname) {
			$.post("/device/ctrl_api", {action:'uninstall', key:'<?=key?>', insname:insname}, function(data) {
					$('#remote_status').html('<i>' + data + '</i>');
					})
			.done(function() {
					})
			.fail(function() {
					$('#remote_status').html('<i>Failed to send remove application request </i>');
					});
		};
		function upgrade_app(insname, version) {
			$.post("/device/ctrl_api", {action:'upgrade', key:'<?=key?>', insname:insname, version:version}, function(data) {
					$('#remote_status').html('<i>' + data + '</i>');
					})
			.done(function() {
					})
			.fail(function() {
					$('#remote_status').html('<i>Failed to send upgrade application request </i>');
					});
		};
	</script>

