
<div class="ui divider"></div>
<div class="ui divided horizontal footer link list">
	<div class="item">
		Copyright ©2015 <a href="http://www.kooiot.com" target="_blank">KooIoT</a> Co., Ltd. All rights reserved.
	</div>
	<a href="http://tipsydate.kooiot.com" class="item"><?=_("Website")?></a>
	<a href="http://tipsydate.kooiot.com/forum" class="item"><?=_("Forum")?></a>
	<div class="item">
		Powered with <a href="http://semantic-ui.com/" target="_blank">Semantic UI</a>
	</div>
</div>
</body>
</html>
