<div class="ui large vertical inverted labeled icon sidebar menu" id="menu">
	<a class="hide item">
		<i class="close icon"></i> <?=_("Close Menu")?>
	</a>
	<a class="item" href="/">
		<i class="inverted circular red awesome download cloud icon"></i> <b><?=_("Download")?></b>
	</a>
	<div class="item">
		<a href="/">
			<b><?=_("Home")?></b>
		</a>
		<div class="menu">
			<a class="item" href="/about/"><?=_("About")?></a>
		</div>
	</div>
	<div class="item">
		<b>Store</b>
		<div class="menu">
			<a class="item" href="/help/contributing/"><?=_("How To Contributing")?></a>
			<a class="item" href="/help/development/"><?=_("Development Docs")?></a>
		</div>
	</div>
	<div class="item">
		<a href="/apps/"><b><?=_("Applications")?></b></a>
		<div class="menu">
			<a class="item" href="/apps/indu"><?=_("Industrial")?></a>
			<a class="item" href="/apps/home"><?=_("Home Automation")?></a>
			<a class="item" href="/apps/plc"><?=_("PLC")?></a>
			<a class="item" href="/apps/other"><?=_("Others")?></a>
		</div>
	</div>
	<div class="item">
		<a href="/forum"><b><?=_("Forum")?></b></a>
		<div class="menu">
			<a class="item" href="/forum/beginner"><?=_("Beginner")?></a>
			<a class="item" href="/forum/platform"><?=_("Platform")?></a>
			<a class="item" href="/forum/installation"><?=_("Installtion")?></a>
			<a class="item" href="/forum/suggestion"><?=_("Suggestion")?></a>
		</div>
	</div>
	<!--     <div class="item">
	  <b>Specification</b>
	  <div class="menu">

	  </div>
	</div> -->
</div>
