<? extend 'layout.html' ?>
<div class="tab header segment">
	<div class="container">
		<div class="introduction">
			<h1 class="ui dividing header">
				<?=_("Device details")?> - <?=key_alias or key?>
			</h1>
			<br>
		</div>
	</div>
</div>
<div class="main container">
	<a class="ui teal button" href="/device/ctrl/<?=key?>"><?=_("Remote Control")?> </a>
	<div class="ui fluid accordion">
		<? for k, v in pairs(devlist) do ?>
		<div class="title">
			<i class="dropdown icon"></i> <?=_("Device")?> - <? = k ?>
		</div>
		<div class="content">
			<div>
				<?=v.desc?>	
			</div>

			<? if next(v.inputs) ~= nil then ?>
			<div class="title">
				<i class="dropdown icon"></i> <?=_("Inputs")?>
			</div>
			<div class="content">
				<? include('device/tlist.html', {list=v.inputs, key=key, type='inputs'}) ?>
			</div>
			<? end ?>

			<? if next(v.outputs) ~= nil then ?>
			<div class="title">
				<i class="dropdown icon"></i> <?=_("Outputs")?>
			</div>
			<div class="content">
				<? include('device/tlist.html', {list=v.outputs, key=key, type='outputs'}) ?>
			</div>
			<? end ?>

			<? if next(v.commands) ~= nil then ?>
			<div class="title">
				<i class="dropdown icon"></i> <?=_("Commands")?>
			</div>
			<div class="content">
				<? include('device/tlist.html', {list=v.commands, key=key, type='commands'}) ?>
			</div>
			<? end ?>
		</div>
		<? end ?>
	</div>

	<div class="ui icon message">
		<i class="inbox icon"></i>
		<div class="content">
			<div class="header">
				<div id="setting_status">
					<? = err ?>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {
				$('form').ajaxForm({
					success: function(data) {
						$('#setting_status').html('<i>' + data + '</i>');
					},
					error: function(data) {
						$('#setting_status').html('<i>' + data.responseText + '</i>');
					},
				});
		});
	</script>

</div>
