
<? extend 'layout.html' ?>
<div class="segment">
	<div class="container">
		<div class="introduction">
			<h1 class="ui dividing header">
				<?=_("User profile edit")?>
			</h1>
		</div>
	</div>
</div>
<div class="main container">
	<? if info then ?>
	<div class="ui warning message">
		<i class="close icon"></i>
		<div class="header">
			Warning!!
		</div>
		<?=info ?>
	</div>
	<? end ?>

	<h3 class="ui dividing header"><?=_("Auth Key")?>:</h3>
	<form class="ui form" action="" method="post">
		<input type="hidden" name="action" value="userkey"/>
		<label><?=_("Your Auth Key")?>:</label>
		<input type="text" id="authkey" name="key" readonly="readonly" value="<?=userkey or ''?>"/>
		<div class="ui teal button" onclick="generate_authkey();"><?=_("Generate")?></div>
		<input class="ui submit button" type="submit" value="<?=_('Apply')?>"/>
	</form>

	<h3 class="ui dividing header"><?=_("Password")?>:</h3>
	<form class="ui form" action="" method="post" >
		<input type="hidden" name="action" value="passwd"/>
		<div class="ui input inline field">
			<label><?=_("Original Password")?>:</label>
			<input type="password" name="org_pass" placeholder="original password" value=""/>
		</div>
		<div class="inline field"?>
			<label><?=_("New Password")?>:</label>
			<div class="ui input">
				<input type="password" name="new_pass" placeholder="new password" value=""/>
			</div>
			<div class="ui input inline field">
				<input type="password" name="new_pass2" placeholder="new password retype" value=""/>
			</div>
		</div>
		<input class="ui submit button" type="submit" value="<?=_('Change')?>"/>
	</form>

	<h3 class="ui dividing header"><?=_("Current Avatar")?>:</h3>
	<? local img_link = '/static/upload/avatar/'..lwf.ctx.user.username..'.jpg' ?>
	<img class="rounded ui small image" src="<?=img_link?>">
	<img class="circular ui small image" src="<?=img_link?>">

	<form class="ui form" action="" method="post" enctype="multipart/form-data">
		<input type="hidden" name="action" value="avatar"/>
		<label><?=_("Your Avatar")?>:</label>
		<input type="file" name="file"/>
		<input class="ui submit button", type="submit" value="<?=_('Upload')?>"/>
	</form>


	<div id="status"></div>
	<script>
		function generateUUID() {
			var d = new Date().getTime();
			var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
				var r = (d + Math.random()*16)%16 | 0;
				d = Math.floor(d/16);
				return (c=='x' ? r : (r&0x7|0x8)).toString(16);
			});
			return uuid;
		};

		function generate_authkey() {
			var input = $('#authkey');
			var uuid = generateUUID();
			//alert(uuid);
			input.val(uuid);
		};
	</script>
</div>

