
<? extend 'layout.html' ?>
<? include('app/top.html', {lwf=lwf, info=info}) ?>
<div class="main container">
	<h2 class="ui dividing header"><?=_("Information")?>:</h2>

	<? if err then ?>
	<div class="ui warning message">
		<i class="close icon"></i>
		<div class="header">
			Warning!!
		</div>
		<?=err ?>
	</div>
	<? end ?>

	<div class="ui segment">
		<div class="ui header"> ICON </div>
		<? local img_link = '/static/releases/'..info.path..'/icon.jpg' ?>
		<img class="rounded ui small image" src="<?=img_link?>">

		<form class="ui form" action="/app/modify" method="post" enctype="multipart/form-data">
			<input type="hidden" name="path" value="<?=info.path?>"/>
			<label>ICON:</label>
			<input type="file" name="file"/>
			<input type="submit" class="ui tiny teal submit button" value="<?=_('Change')?>"/>
		</form>
	</div>

	<div class="ui segment">
		<div class="ui header"> <?=_("Upload New Version")?> </div>
		<form id="upgradeform" class="ui form" action="/app/new" method="post" enctype="multipart/form-data">
			<input name="appname" type="hidden" value="<?=info.name?>"/>
			<input name="action" type="hidden" value="upgrade"/>

			<div class="two fields">
				<div class="two wide field">
					<div class="ui label"><?=_("Version")?>:</div>
				</div>
				<div class="field">
					<div class="ui labeled input">
						<input placeholder="Version..." name="version" type="text" value="<?=info.version ?>"/>
						<div class="ui corner label">
							<i class="asterisk icon"></i>
						</div>
					</div>
				</div>
			</div>

			<label><?=_("File")?>:</label>
			<input type="file" name="file"/>
			<input type="submit" class="ui tiny teal submit button" value="<?=_('Upload')?>"/>

			<div class="field">
				<div class="ui label"><?=_("Comments")?></div>
				<textarea class="ui full filled fluid textarea" name="comments"><?=info.comments or ""?></textarea>
			</div>
		</form>
	</div>
	<div class="ui progress">
		<div class="bar"></div>
	</div>
	<div id="status"></div>

	<script>
	(function() {
		var status = $('#status');
		var bar = $('.bar');
		$('#upgradeform').ajaxForm({
			beforeSend: function() {
				status.empty();
			},
			uploadProgress: function(event, position, total, percentComplete) {
				var percentVal = percentComplete + '%';
				bar.width(percentVal);
				status.text(percentVal);
			},
			success: function() {
				var percentVal = '100%';
				bar.width(percentVal);
				status.text(percentVal);
			},
			complete: function(xhr) {
				status.html('<br>'+xhr.responseText);
			},
			error: function(xhr) {
				status.html(xhr.responseText);
			}
		}); 
	 })();       
	</script>


</div>
