
<? extend 'layout.html' ?>
<? include('app/top.html', {lwf=lwf, info=info}) ?>
<div class="main container">
	<h2 class="ui dividing header">Information:</h2>

	<? if err then ?>
	<div class="ui warning message">
		<i class="close icon"></i>
		<div class="header">
			Warning!!
		</div>
		<?=err ?>
	</div>
	<? end ?>

	<label> Current ICON: </label>
	<? local img_link = '/static/releases/'..info.path..'/icon.jpg' ?>
	<img class="rounded ui small image" src="<?=img_link?>">

	<form class="ui form" action="/app/modify" method="post" enctype="multipart/form-data">
		<input type="hidden" name="path" value="<?=info.path?>"/>
		<label>ICON:</label>
		<input type="file" name="file"/>
		<input type="submit" value="Upload"/>
	</form>
</div>
