<div class="tab segment">
	<div class="container">
		<div class="introduction">
			<? if lwf.ctx.user then ?>
			<div class="ui tab active" data-tab="news">
				<h1 class="ui dividing header">
					<?=_("News")?>
				</h1>
			</div>
			<div class="ui tab" data-tab="applications">
				<h1 class="ui dividing header">
					<?=_("Applications")?>
				</h1>
				<p> <?=_("V3 Applications")?> <a href="/install" class="ui tiny blue"><?=_("Install")?></a> </p>
			</div>
			<? else ?>
			<div class="ui tab active" data-tab="applications">
				<h1 class="ui dividing header">
					<?=_("Applications")?>
				</h1>
			</div>
			<? end ?>

			<div class="ui tab" data-tab="document">
				<h1 class="ui dividing header">
					<?=_("Usages")?>
				</h1>
			</div>
			<div class="ui tab" data-tab="contribute">
				<h1 class="ui dividing header">
					<?=_("Contribute")?>
				</h1>
			</div>
		</div>

		<!-- desktop menu -->
		<div class="four item tabular ui menu">
			<? if lwf.ctx.user and false then ?>
			<a class="item active" data-tab="news"><?=_("News")?></a>
			<a class="item" data-tab="applications"><?=_("Applications")?></a>
			<? else ?>
			<a class="item active" data-tab="applications"><?=_("Applications")?></a>
			<? end ?>

			<a class="item" data-tab="document"><?=_("Document")?></a>
			<a class="item" data-tab="contribute"><?=_("Contribute")?></a>
		</div>
		<!-- Phone menu, Small screen -->
		<div class="fluid vertical ui menu">
			<? if lwf.ctx.user and false then ?>
			<a class="item active" data-tab="news"><?=_("News")?></a>
			<a class="item" data-tab="applications"><?=_("Applications")?></a>
			<? else ?>
			<a class="item active" data-tab="applications"><?=_("Applications")?></a>
			<? end ?>

			<a class="item" data-tab="document"><?=_("Document")?></a>
			<a class="item" data-tab="contribute"><?=_("Contribute")?></a>
		</div>
	</div>
</div>
